@font-face {
  font-family: 'lawn';
  src:  url('fonts/lawna3c4.eot?wdus8n');
  src:  url('fonts/lawna3c4.eot?wdus8n#iefix') format('embedded-opentype'),
    url('fonts/lawna3c4.ttf?wdus8n') format('truetype'),
    url('fonts/lawna3c4.woff?wdus8n') format('woff'),
    url('fonts/lawna3c4.svg?wdus8n#lawn') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lawn' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e920";
}
.icon-angle-down:before {
  content: "\e91b";
}
.icon-angle-up:before {
  content: "\e91c";
}
.icon-angle-right:before {
  content: "\e91d";
}
.icon-angle-left:before {
  content: "\e91e";
}
.icon-speech:before {
  content: "\e91f";
}
.icon-analytic-report:before {
  content: "\e901";
}
.icon-construction-worker:before {
  content: "\e902";
}
.icon-gardener:before {
  content: "\e903";
}
.icon-lawn-mowet:before {
  content: "\e904";
}
.icon-tree:before {
  content: "\e900";
}
.icon-analytic-report:before {
  content: "\e901";
}
.icon-construction-worker:before {
  content: "\e902";
}
.icon-gardener:before {
  content: "\e903";
}
.icon-lawn-mowet:before {
  content: "\e904";
}
.icon-magnifying-glass:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-nature:before {
  content: "\e907";
}
.icon-nature-1:before {
  content: "\e908";
}
.icon-nature-2:before {
  content: "\e909";
}
.icon-people:before {
  content: "\e90a";
}
.icon-phone-auricular:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-telephone:before {
  content: "\e90f";
}
.icon-transport:before {
  content: "\e910";
}
.icon-truck-transport:before {
  content: "\e911";
}
.icon-twitter-logo-button:before {
  content: "\e912";
}
.icon-facebook-logo-button:before {
  content: "\e913";
}
.icon-google-plus:before {
  content: "\e914";
}
.icon-instagram-logo:before {
  content: "\e915";
}
.icon-social:before {
  content: "\e916";
}
.icon-linkedin-logo-button:before {
  content: "\e917";
}
.icon-landkeeper:before {
  content: "\e918";
}
.icon-wheelbarrow:before {
  content: "\e919";
}
.icon-check:before {
  content: "\e91a";
}

